@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
}

:root {
  --dark-purple: #5C2DD5;
  --purple: #7945FF;
  --red: #FD6687;
  --yellow: #FFCE67;
  --transition-time: 0.6s;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SpaceGrotesk', sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--purple);
  transition: background-color var(--transition-time);
  overflow: hidden;
}

button {
  font-family: 'SpaceGrotesk', sans-serif;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  body {
    background-color: var(--dark-purple);
  }
}
